---
import {Image} from "astro:assets";
---
<footer id="footer" class="js-footer">
  <div class="row footer">
    <div class="col-md-7">
      <img
        src="https://tecnolobbyx.com/tienda/img/logo-simple.png"
        alt="Logo lobbyx"
        loading="lazy"
        decoding="async"
        fetchpriority="auto"
        style="width: 53px; height: 53px;"
      />
      <div class="row footer">
        <div class="col-md-5">
          <h5>MENU</h5>
          <a href="/venta/marcas-celulares"
            >Celulares</a
          >
          <a href="/venta/smartwatch">Smartwatch</a>
          <a href="/venta/auriculares">Auriculares</a
          >
          <a href="/venta/productos">Tienda</a>
          <a
            href="https://tecnolobbyx.com/tienda/content/16-politica-de-garantia"
            >Politica de garantia</a
          >
          <a
            href="https://tecnolobbyx.com/tienda/content/15-politica-de-devoluciones"
            >Política de Devoluciones</a
          >
          <a
            href="https://tecnolobbyx.com/tienda/content/17-boton-de-arrepentimiento"
            >Botón de arrepentimiento</a
          >
        </div>
        <div class="col-md-7">
          <div>
            <h5>DÓNDE COMPRAR</h5>
            <p style="line-height: normal;">
              Sonoma Office, Fray Mamerto Esquiú 62 Timbre 221, X5000AZE Córdoba<br />
              Nuestros horarios de atención :<br />
              De lunes a viernes <br />
              de 10:30 hs. a 14:00 hs. y de 16:00 a 19:00 hs <br />
              Sábados de 10:30 hs. a 14:00 hs.
            </p>
            <div class="row footer" style="padding-top: 2rem;">
              <a
                href="https://www.instagram.com/tecno.lobbyx"
                target="_blank"
                style="padding: 0; font-weight: 600; padding-right: 1rem;"
                >INSTAGRAM</a
              >
              <a
                href="https://www.facebook.com/tecno.lobbyx"
                target="_blank"
                style="padding: 0; font-weight: 600; padding-right: 1rem;"
                >FACEBOOK</a
              >
              <a
                href="https://www.google.com/maps/place/Tienda+Xiaomi+C%C3%B3rdoba/@-31.4253621,-64.1784205,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a33bea2bcabd:0xa218add36036fea4!8m2!3d-31.4253621!4d-64.1784205"
                target="_blank"
                style="padding: 0; font-weight: 600; padding-right: 1rem;"
                >GOOGLE</a
              >
              <a
                href="https://api.whatsapp.com/send?phone=543513473549"
                target="_blank"
                style="padding: 0; font-weight: 600; padding-right: 1rem;"
                >WHATSAPP</a
              >
            </div>
          </div>
        </div>
        <div class="afip-link col-md-3">
          <a
            href="http://qr.afip.gob.ar/?qr=BlOt24OGCEOzS-TRG3BEJw,,"
            target="_F960AFIPInfo"
          >
            <Image
              src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg"
              alt="ARCA logo"
              width={99}
              height={135}
              style="border: 0;"
            />
          </a>
        </div>
      </div>
    </div>
    <div
      class="col-md-5"
      style="background-color: rgba(130, 35, 253, 1); display: flex; align-items: center; justify-content: center;"
    >
      <div
        class="block_newsletter col-lg-8 col-md-12 col-sm-12"
        id="blockEmailSubscription_displayFooter"
      >
        <div class="row" style="--bs-gutter-x: 0;">
          <p
            id="block-newsletter-label"
            class="col-md-5 col-xs-12"
            style="padding: 0;"
          >
            Manténgase En Contacto Y Reciba Nuestro Newsletter
          </p>
          <div>
            <form>
              <div
                class="row"
                style="border-bottom: 1px solid #ffffff; --bs-gutter-x: 0;"
              >
                <div>
                  <input
                    class="btn btn-primary float-xs-right hidden-xs-down submit"
                    name="submitNewsletter"
                    type="submit"
                    value="Suscríbete →"
                  />
                  <input
                    class="btn btn-primary float-xs-right hidden-sm-up"
                    name="submitNewsletter"
                    type="submit"
                    value="OK"
                  />
                  <div class="input-wrapper">
                    <input
                      name="email"
                      type="email"
                      value=""
                      placeholder="Ingresa Tu Correo"
                      aria-labelledby="block-newsletter-label"
                      required=""
                    />
                  </div>
                  <input
                    type="hidden"
                    name="blockHookName"
                    value="displayFooter"
                  />
                  <input type="hidden" name="action" value="0" />
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p>© 2026 SML Tecnology, Inc.</p>
    <a href="https://divergenteestudio.com/trabajos/" target="_blank"
      >Desarollo by Divergente Estudio</a
    >
  </div>

  <div class="block-social col-lg-4 col-md-12 col-sm-12" style="display: none;">
    <ul></ul>
  </div>

  <div style="display: none;"></div>
</footer>
